# Discover text normalization dataset

In [1]:
import pandas as pd

df1 = pd.read_csv("datasets/text_normalization_dataset/output_1.csv")
df1.head(10)

  Semiotic Class    Input Token Output Token
0          PLAIN  Brillantaisia       <self>
1          PLAIN             is       <self>
2          PLAIN              a       <self>
3          PLAIN          genus       <self>
4          PLAIN             of       <self>
5          PLAIN          plant       <self>
6          PLAIN             in       <self>
7          PLAIN         family       <self>
8          PLAIN    Acanthaceae       <self>
9          PUNCT              .          sil

In [2]:
df1.head(20)

   Semiotic Class    Input Token      Output Token
0           PLAIN  Brillantaisia            <self>
1           PLAIN             is            <self>
2           PLAIN              a            <self>
3           PLAIN          genus            <self>
4           PLAIN             of            <self>
5           PLAIN          plant            <self>
6           PLAIN             in            <self>
7           PLAIN         family            <self>
8           PLAIN    Acanthaceae            <self>
9           PUNCT              .               sil
10          <eos>          <eos>               NaN
11           DATE           2006  two thousand six
12        LETTERS           IUCN           i u c n
13          PLAIN            Red            <self>
14          PLAIN           List            <self>
15          PLAIN             of            <self>
16          PLAIN     Threatened            <self>
17          PLAIN        Species            <self>
18          PUNCT              .               sil
19          <eos>          <eos>               NaN